@media screen and (max-width:1440px) {
    main{
        background-image: url("/images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:885px){
    main{
        background-image: url("/images/pattern-background-desktop.svg");
    }
}
@media screen and (max-width:700px){ .card{width: 23rem;} .card__body{padding: 1em 1.5em;}}
@media screen and (max-width:390px){
    .card{width: 21rem; } 
    .card__body{padding: .5em 1em;}
    .card__body .card__body-Description p{width: 100%;}
}